<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="UserMapper">
    <select id="getUserByName" parameterType="String" resultType="top.vuhe.User">
        select *
        from `user`
        where username = #{username}
    </select>
    <insert id="insertUser" parameterType="top.vuhe.User">
        insert into user (id, username, password, birthday, email)
        values (#{id}, #{username}, #{password}, #{birthday}, #{email});
    </insert>
</mapper>